global
    log stdout format raw local0
    maxconn 2048
defaults
    log global
    mode tcp
    timeout connect 2s
    timeout client 5m
    timeout server 5m
    timeout check 1s
    retries 2
frontend xenon_ingress
    bind :17935
    default_backend xenon_nodes
backend xenon_nodes
    balance roundrobin
    option tcp-check
    default-server inter 500ms fall 2 rise 1
    server node_a host.docker.internal:17351 check
    server node_b host.docker.internal:17352 check
    server node_c host.docker.internal:17353 check
frontend temporal_ingress
    bind :17233
    default_backend temporal_nodes
backend temporal_nodes
    balance roundrobin
    option tcp-check
    default-server inter 500ms fall 2 rise 1
    server temporal_a host.docker.internal:18233 check
    server temporal_b host.docker.internal:19233 check
